/* LIGHTBOX */

#lightbox {
	text-align: center;
	overflow: hidden;
}

#lightbox a {
	outline: none;
}

#lbLoading {
	background-image: url(img/loading.gif) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: fixed;
	z-index: 500;
}

.ui-dialog { position: absolute;}

.lightboxId .ui-dialog-titlebar { display:none }

#lbCaption {
	display: none;
	text-align: left;
}

#lbTitle {
	margin: 10px 0px;
}

#prevLink, #nextLink {
	position: absolute;
	height: 100%;
	width: 40%;
	z-index: 200;
	top: 0px;
}

#prevLink {
	float: left;
	left: 0px;
}

#nextLink {
	float: right;
	right: 0px;
}

/* CSS ARROWS */

#nextLink .arrowInner, #nextLink .arrow, #prevLink .arrowInner, #prevLink .arrow {
	position: absolute;
	width: 39px;
	height: 40px;
	right: 0px;
	transform: rotate(45deg);
}

#prevLink .arrowInner, #prevLink .arrow {
	right: auto;	
	left: 0px !important;
}

#prevLink .arrowInner, #nextLink .arrow {
	visibility: hidden;
}

#prevLink:hover .arrowInner, #nextLink:hover .arrow {
	visibility:visible;
}


#nextLink .arrow, #prevLink .arrow {
	top: 50%;
	right: 0px;
	margin-top: -44px;
	height: 100px;
	width: 20px;
	overflow: hidden !important;
	transform: rotate(0deg);
}

#nextLink .arrowInner, #prevLink .arrowInner {
	background: #888888;
	margin: 20px 8px 0 0;
}

#prevLink .arrowInner {
	margin: 20px 0 0 9px !important;
}