/* LIGHTBOX */

#lightbox {
	text-align: center;
	overflow: hidden;
}

#lightbox a {
	outline: none;
}

#lbLoading {
	background-image: url(img/loading.gif) !important;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	position: fixed;
	z-index: 500;
}

.ui-dialog { position: absolute;}

.lightboxId .ui-dialog-titlebar { display:none }

#lbCaption {
	display: none;
	text-align: left;
	font-size: 14px;
}

#lbTitle {
	margin: 4px 0px 6px;
}

#prevLink, #nextLink {
	position: absolute;
	height: 100%;
	width: 40%;
	z-index: 200;
	top: 0px;
}

#prevLink {
	float: left;
	left: 0px;
}

#nextLink {
	float: right;
	right: 0px;
}

#lbClose {
	position: absolute;
	top: 1px;
	right: 1px;
	z-index: 5000 !important;
	width: 20px;
	height: 22px;
	background: url(img/close.png) no-repeat right top;
	float: right;
}

/* CSS ARROWS */

#nextLink .arrowInner, #nextLink .arrow, #prevLink .arrowInner, #prevLink .arrow {
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

#prevLink .arrowInner, #prevLink .arrow {
	right: auto;	
	left: 0px !important;
}

#prevLink .arrow, #nextLink .arrow {
	visibility: hidden;
}

#prevLink:hover .arrow, #nextLink:hover .arrow {
	visibility:visible;
}


#nextLink .arrow, #prevLink .arrow {
	top: 50%;
	right: 0px;
	margin-top: -44px;
	height: 100px;
	width: 18px;
	overflow: hidden !important;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	background: none !important;
}

#nextLink .arrowInner, #prevLink .arrowInner {
	background: #888888;
	margin: 20px 8px 0 0;
}

#prevLink .arrowInner {
	margin: 20px 0 0 9px !important;
}